body {
  margin: 0;
  padding-top: 120px; /* Example: Match header height */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div {
  flex-grow: 1; /* Allows content to take remaining space */
}

footer {
  margin-top: auto;
}
